.container{
	width: 1200px;
	margin: 10px auto;
}
.container .selects {
	text-align: center;
	margin-top: 40px;
}
.container .selects .select-zona,
.container .selects .select-estado{
 padding: 0px 10px;
 margin-right: 10px;
}

#vmap{
	width: 100%;
	height: 500px;
}